<div class="login_page container">
    <div class="desc_login_page col-md-5 col-12">
        <h4>Welcome Back!</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <a routerLink="../signup">Sign up</a>
    </div>
    <div class="form_login_page col-md-5 col-12">
        <div class="title_form_login">
            <h4>Log in to Bee Food</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <div class="item_login">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-google-plus-g"></i></a>
            </div>
            <p class="text">Or use your email account!</p>
        </div>
        <div class="desc_form_login">
            <div *ngIf="error_mess">
                <p style="color: red ;padding: 0;margin: 0;font-size: 15px;">{{error_mess}}!</p>
            </div>
            <form (ngSubmit)="onHandleSignin()" [formGroup]="signinForm">
                <input type="text" placeholder="Email" name="email" id="" formControlName="email">
                <input type="password" placeholder="Password" name="password" id="" formControlName="password">
                <a href="#">Forgot your password?</a>
                <button>Sign in</button>
            </form>
        </div>
    </div>
</div>