<div class="contact_page container">
    <div class="banner_contact">
        <div class="img_banner_contact col-md-5 col-12">
            <img width="100%" src="https://res.cloudinary.com/ductham087/image/upload/v1664624303/Bee%20Food/banner_contact_2_nmcyib.png" alt="">
        </div>
        <div class="desc_banner_contact col-md-6 col-12">
            <h4>We will bring you the best food!</h4>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas pretium dolor sed turpis interdum pulvinar. In tincidunt vulputate dolor nec euismod. In luctus finibus euismod. Aliquam et turpis ut ex dapibus semper. Nunc malesuada nec lacus nec tristique.
                Phasellus auctor justo a orci tristique, ac porttitor eros auctor. Nam at euismod orci, ut lobortis elit.
            </p>
        </div>
    </div>
    <div class="main_contact">
        <div class="img_main_contact col-md-5 col-12">
            <div class="item_img_1 item_img_contact col-6">
                <img src="https://res.cloudinary.com/ductham087/image/upload/v1664609758/Bee%20Food/img_detail_product_02_eclwvh.png" width="100%" alt="">
                <img src="https://res.cloudinary.com/ductham087/image/upload/v1664624303/Bee%20Food/banner_contact_2_nmcyib.png" width="100%" alt="">
            </div>
            <div class="item_img_2 item_img_contact col-6">
                <img src="https://res.cloudinary.com/ductham087/image/upload/v1664609758/Bee%20Food/img_detail_product_hloper.png" width="100%" alt="">
                <img src="https://res.cloudinary.com/ductham087/image/upload/v1664609758/Bee%20Food/img_detail_product_01_iqanmo.png" width="100%" alt="">
            </div>
        </div>
        <div class="desc_main_contact col-md-6 col-12">
            <h4>We will bring you the best food!</h4>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas pretium dolor sed turpis interdum pulvinar. In tincidunt vulputate dolor nec euismod. In luctus finibus euismod. Aliquam et turpis ut ex dapibus semper. Nunc malesuada nec lacus nec tristique.
                Phasellus auctor justo a orci tristique, ac porttitor eros auctor. Nam at euismod orci, ut lobortis elit.
            </p>
        </div>
    </div>
    <div class="form_contact col-md-7 col-12">
        <h4>Contact us</h4>
        <div class="form">
            <div class="item_form col-md-6 col-12">
                <p>Firt name:</p>
                <input type="text" placeholder="Enter your firt name">
            </div>
            <div class="item_form col-md-6 col-12">
                <p>Last name:</p>
                <input type="text" placeholder="Enter your last name">
            </div>
            <div class="item_form col-md-6 col-12">
                <p>Email:</p>
                <input type="text" placeholder="Enter your email">
            </div>
            <div class="item_form col-md-6 col-12">
                <p>Phone number:</p>
                <input type="text" placeholder="Enter your phone number">
            </div>
            <div class="item_form col-12">
                <p>Message:</p>
                <input type="text" placeholder="Enter your message">
            </div>
            <button>Send message</button>
        </div>
    </div>
    <div class="desc_contact">
        <div class="item_desc_contact col-md-3 col-12">
            <i class="fas fa-home"></i>
            <h6>Head office</h6>
            <p>37C/20 Ho Tung Mau - Mai Dich</p>
        </div>
        <div class="item_desc_contact col-md-3 col-12">
            <i class="fas fa-phone-alt"></i>
            <h6>Call us</h6>
            <p>+84 967 888 666</p>
        </div>
        <div class="item_desc_contact col-md-3 col-12">
            <i class="fas fa-envelope"></i>
            <h6>Email us</h6>
            <p>Beefood.contact@gmail.com</p>
        </div>
    </div>
</div>