.detail_page {
    margin-top: 50px;
    margin-bottom: 25px;
}

.detail_page .detail {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.detail_page .detail .img_product img {
    transition: 0.8s;
}

.detail_page .detail .img_product img:hover {
    transform: scale(1.4);
}

.detail_page .detail .desc_product h4 {
    font-family: 'roboto_bold';
    color: #984d49;
}

.detail_page .detail .desc_product .price {
    color: #984d49;
}

.detail_page .detail .desc_product .desc {
    opacity: 75%;
}

.detail_page .detail .desc_product .amount {
    margin: 20px 0px;
}

.detail_page .detail .desc_product .amount button {
    border: none;
    height: 25px;
    width: 20px;
    border-radius: 3px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.37);
    box-shadow: 1px 1px 5px #984d49;
}

.detail_page .detail .desc_product .amount input {
    outline: none;
    width: 40px;
    height: 25px;
    text-align: center;
    border-radius: 3px;
    border: none;
    margin: 0px 3px;
    background-color: rgba(255, 255, 255, 0.37);
    box-shadow: 1px 1px 5px #984d49;
}

.detail_page .detail .desc_product .amount input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.detail_page .detail .desc_product .list_button button {
    padding: 5px 15px;
    border: none;
    margin-right: 10px;
    font-size: 14px;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.37);
    box-shadow: 1px 1px 5px #984d49;
}

.detail_page .detail .desc_product .list_button button i {
    color: #984d49;
    font-size: 15px;
}