<div class="banner container">
    <div class="desc_banner top-50 start-50 col-md-6 col-12">
        <h4>Your Food Is Waiting For You</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas pretium dolor sed turpis interdum pulvinar. In tincidunt vulputate dolor nec euismod. In luctus finibus euismod. Aliquam et turpis ut ex dapibus semper. Nunc malesuada nec lacus
            nec tristique. Phasellus auctor justo a orci tristique, ac porttitor eros auctor. Nam at euismod orci, ut lobortis elit.
        </p>
        <button><a href="">Food Menu</a></button>
        <button><a href="#booking">Book a Table</a></button>
    </div>
    <div class="img_banner col-md-5 col-12">
        <img src="https://res.cloudinary.com/ductham087/image/upload/v1664609758/Bee%20Food/Product_banner_zfyqro.png" width="100%" alt="">
    </div>
</div>