<div class="navbar_admin ">
    <div class="title_navbar">
        <div class="logo col-3">
            <img src="https://res.cloudinary.com/ductham087/image/upload/v1664609756/Bee%20Food/Logo_png_p1htgf.png" width="100%" alt="">
        </div>
        <h4>Dashboard</h4>
    </div>
    <div class="menu_navbar">
        <ul>
            <li>
                <a routerLink="/admin">
                    <i class="fas fa-home-lg-alt"></i> Home
                </a>
            </li>
            <li>
                <a routerLink="products">
                    <i class="fas fa-cart-plus"></i> Product
                </a>
            </li>
            <li>
                <a routerLink="categories">
                    <i class="fas fa-chart-bar"></i> Categories
                </a>
            </li>
            <li>
                <a routerLink="user">
                    <i class="fas fa-users"></i> User
                </a>
            </li>
        </ul>
    </div>
</div>