.navbar_admin {
    background-color: rgba(255, 255, 255, 0.596);
    float: left;
    color: #984d49;
    border-radius: 0px 5px 5px 0px;
    min-height: 100vh;
}

.navbar_admin .title_navbar {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.719);
    padding: 0px 0px 10px 0px;
    border-radius: 0px 5px 10px 10px;
}

.navbar_admin .title_navbar .logo {
    display: block;
    margin: auto;
}

.navbar_admin .title_navbar h4 {
    font-family: "roboto_bold";
}

.navbar_admin .menu_navbar {
    padding: 15px 0;
    margin: 0;
}

.navbar_admin .menu_navbar ul {
    padding-left: 15px;
    margin: 0;
}

.navbar_admin .menu_navbar ul li {
    list-style: none;
    margin: 20px 0px;
}

.navbar_admin .menu_navbar ul li a {
    color: #984d49;
    text-decoration: none;
    width: 100%;
}